fastapi
uvicorn
python-multipart

# Database
psycopg2-binary
python-dotenv

# Authentication
python-jose[cryptography]
passlib[bcrypt]

# AI and Graph Logic
langchain-groq
langgraph
pydantic

# Services
resend
