fastapi
uvicorn
groq
langgraph
langchain-groq
langchain-core
langgraph-checkpoint-postgres
psycopg2-binary
python-dotenv
pydantic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
resend
email-validator
